

.ros{
	width: 900px;
    height: 340px; 
    margin: 20px 250px; 
    background: #ccc;  
    background-image:url(http://crbvanino.ru/vanino.png), url(https://previews.123rf.com/images/digifuture/digifuture1301/digifuture130100017/17281607-Light-Gray-Artificial-Leather-Texture-Stock-Photo-background.jpg); 
    background-repeat: no-repeat; 
    background-position: right; 
	font-family: 'PT Sans Caption', sans-serif; 
	font-size: 25px;
}
 @media (min-width: 0px) and (max-width: 800px){ 
 	.ros{ 
 		    
            margin-left: 10px; 
            width: 620px; 
            height: 400px; 
            font-size: 20px; 
          
 		}

 } 
