.res{
	width: 800px; 
	height: 240px; 
	margin: 20px 250px; 
	background: #eee; 
	background-image: url(http://наша-гавань.рф/templates/MediaLoad/adminLoadFiles/21bb06bd158528fedd25a59e30eb7d63.jpg); 
	background-repeat: no-repeat; 
} 
